<section class="footer__banner">
    <h3>SOS UNA TIENDA O UN DISTRIBUIDOR?</h3>
    <div class="banner__link-container">
        <a href="">CONTACTANOS</a>
    </div>
  
</section>
<section class="footer__input-form">
    <p>Recibi 10% para tu primera compra en Blamsh!</p>
    <p>Suscribite a nuestra newsletter y recibi nuestras promociones:</p>
    <form action="">
        <input  class='form-input' type="text" placeholder="escribi tu email">
        <div class="form-div">
            <label class='form-option' for=""><input type="radio" name="option" value="woman">Mujer</label>
        <label class='form-option' for=""><input type="radio" name="option" value="man">Hombre</label>
        </div>
        
        <input class= 'form-submit' type="submit" value="ENVIAR">
    </form>
</section>
<section class="footer__options">
        <ul class="options__list">
            <li class="list-firts-item"><a href="">Blamsh</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Contacto</a></li>
        </ul>

</section>
<section class="footer__medias">
    <a href=""><i class="fa-brands fa-facebook fa-xl" style="color: #2f2f30;"></i></a>
    <a href=""><i class="fa-brands fa-instagram fa-xl" style="color: #2f2f30;"></i></a> 
    <a href=""><i class="fa-brands fa-twitter fa-xl" style="color: #2f2f30;"></i></a> 
    <a href=""><i class="fa-brands fa-youtube fa-xl" style="color: #2f2f30;"></i></a>  
</section>
<section class="footer__copyright">

</section>