<h3>BLAMSH</h3>
        <ul class="footer__ayuda">
            <li><a href="">Nosotros</a></li>
            <li><a href="">Ayuda</a></li>
            <li><a href="">Devoluciones</a></li>
            <li><a href="">Seguimiento</a></li>
            <li><a href="">Contacto</a></li>
        </ul>

        <div class="footer__redes">
            <ul>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-facebook fa-xl"
                            style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-instagram  fa-xl"
                            style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-twitter fa-xl"
                            style="color: #3e3f41;"></i></a></li>
                <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-youtube fa-xl"
                            style="color: #3e3f41;"></i></a></li>
            </ul>
        </div>

        <div class='footer__avisos-condiciones'>
            <ul class="avisos-condiciones__opciones">
                <li><a href=""> 2023 Blamsh |</a></li>
                <li><a href="">Aviso legal |</a></li>
                <li><a href="">Coockies |</a></li>
                <li><a href="">Terminos y condiciones |</a></li>
                <li><a href="">Mapa web</a></li>
            </ul>
        </div>
