<nav>
    <div class="nav__logo-burger" id="burger-div">
        <a href=""></a><i class="fa-solid fa-bars fa-lg" id="burger-menu" style="color: #64676d;"></i> </a>
        <a href="/">
            <p>BLAMSH</p>
        </a>
    </div>

    <div class="nav__generos">
        <ul class="generos__genders">
            <li class='genders' id="genero-hombre"><a class="genders__a" href="#">Hombre <i
                        class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
            <li class='genders' id="genero-mujer"><a class="genders__a" href="#">Mujer <i
                        class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
        </ul>
    </div>

    <div class="nav__opciones">
        <div class="opciones__lupa"><form action="/products/search" method="GET">
            <input type="text" name="query" placeholder="Buscar por nombre">
            <button type="submit">Buscar</button>
          </form><a href=""><i class="fa-solid fa-magnifying-glass fa-l"
                    style="color: #eaeaeb;"></i></a></div>
        <div class="opciones__carrito">
            <a href="/carrito"><span>Carrito</span>
                <i class="fa-sharp fa-solid fa-basket-shopping fa-l" style="color: #eaeaeb;"></i>
            </a>
        </div>


        <% if (isAdmin) { %>

            <div>
                <a href="/products"><strong>CRUD </strong><i class="fas fa-edit"></i>
                </a>
            </div>

            <% } if (user || isAdmin) { %>
                <li>
                    <a href="/profile">
                        <%= user.firstName %>
                    </a>
                </li>

                <div>
                    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><strong>Cerrar Sesión</strong></a>

                </div>

                <% } else { %>
                    <div class="opciones__user">
                        <a href="/register"><span style="font-size: 12px;">ÚNETE A BLAMSH</span>
                        </a>
                    </div>
                    <div class="opciones__user">
                        <a href="/login"><span style="font-size: 12px;">Iniciar Sesion</span><i
                                class="fa-regular fa-circle-user fa-l"></i>
                        </a>
                    </div>
                    <% } %>

    </div>

    <div class="hidden-catalog" id="hidden-catalog">
        <div class="inner-catalog">
            <ul>
                <li><a href="">Todos los productos</a></li>
                <li><a href="">Remeras</a></li>
                <li><a href="">Camisas</a></li>
                <li><a href="">Outdoors</a></li>
                <li><a href="">Buzos y sweaters</a></li>
                <li><a href="">Calzado</a></li>
            </ul>
        </div>
    </div>
</nav>