<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLAMSH</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <%-include ('./partials/navbar')%>
  </header>

  <main><br><br><br><br><br><br>
    <div class="container">
      <p style="color: red;">
        <%= error %>
      </p>
      <form class="login-form" action="/login" method="post">
        <label for="email">Correo electronico </label>
        <span></span>
        <input type="email" name="email" id="email" placeholder="Correo@Correo.com">
        <p class="errors">Debes ingresar un Correo valido</p>
        <label for="password">Contraseña</label>
        <span></span>
        <input type="password" name="password" id="password">
        <p class="errors">La Contraseña debe tener de 6 a 10 digitos </p>
        <br>
        <div>
          <label class="input__checkbox">
            <a href="">Mantener sesión iniciada</a><input type="checkbox" name="rememberme">
          </label>
        </div>

        <br>
        <div>

          <a href="#"> ¿Has olvidado Tu contraceña?</a>
          <label class="enviar">
            <button type="submit" id="enviar">Enviar</button>
          </label>
        </div>
      </form>
      <br>

      <br>
      <div>
        <p>¿No tenés cuenta de BLAMSH? <a href="/register"><u>Únete a BLAMSH</a></p></u><br>

      </div>
      <script src="/js/loginvalidation.js"></script>

      <section class="main__section-photo">
        <img class="img-log" src="images/img-register/register__main-background.jpg" alt="none">

      </section>

    </div>
  </main>

  <footer>
    <%-include ('./partials/footer')%>
  </footer>

</body>

</html>
