<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/carrito.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav__logo-burger" id="burger-div">
        <a href=""></a><i class="fa-solid fa-bars fa-lg" id="burger-menu" style="color: #64676d;"></i> </a>
        <a href="../index.html">
          <p>BLAMSH</p>
        </a>
      </div>

      <div class="nav__generos">
        <ul class="generos__genders">
          <li class='genders' id="genero-hombre"><a class="genders__a" href="#">Hombre <i
                class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
          <li class='genders' id="genero-mujer"><a class="genders__a" href="#">Mujer <i
                class="fa-solid fa-caret-down fa-s" style="color: #ababab;"></i></a></li>
        </ul>
      </div>

      <div class="nav__opciones">
        <div class="opciones__lupa"><input type="text"><a href=""><i class="fa-solid fa-magnifying-glass fa-l"
              style="color: #eaeaeb;"></i></a></div>
        <div class="opciones__carrito"><a href=""><span>Carrito</span><i
              class="fa-sharp fa-solid fa-basket-shopping fa-l" style="color: #eaeaeb;"></i></a></div>
        <div class="opciones__user"><a href=""><span>Iniciar Sesion</span><i
              class="fa-regular fa-circle-user fa-l"></i></a></div>
      </div>

      <div class="hidden-catalog" id="hidden-catalog">
        <div class="inner-catalog">
          <ul>
            <li><a href="">Todos los productos</a></li>
            <li><a href="">Remeras</a></li>
            <li><a href="">Camisas</a></li>
            <li><a href="">Outdoors</a></li>
            <li><a href="">Buzos y sweaters</a></li>
            <li><a href="">Calzado</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <main>
    <div class="main_car tit width_car">
      <div class="flex  border-c">
        <div class="grid-1of3 text-4xl font-bold">Producto</div>
        <div class="grid-1of6 font-bold text-center oculto">Price</div>
        <div class="desc_precio"></div>
        <div class="grid-1of6 font-bold text-center ">Cantidad</div>
        <div class="grid-1of6 oculto"></div>

        <div class="grid-1of6 font-bold text-center oculto">Total</div>
      </div>
      <ul class="flex flex-col">
        <li class="flex border-solid border-b py-4">
          <div class="grid-1of3 flex">
            <div class="grid-2of3">
              <a href="#" class="colorIcon"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            <div class="grid-1of3">
              <img
                src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/065/501/products/181-8bfefbc80c6639bc3e16723321716371-320-0.webp">
            </div>

          </div>
          <div class="desc_precio">
            <div class="font-serif">Nutro Adult</div>
            <div class="grid-1of6 ">
              $12.99</div>
          </div>
          <div class="cantidad">
            <input type='button' value='-' class='qtyminus minus visible' field='quantity' />
            <input type='text' name='quantity ' value='0' class='qty visible' />
            <input type='button' value='+' class='qtyplus plus visible' field='quantity' />


        </li>
        <li class="flex border-solid border-b py-4">
          <div class="grid-1of3 flex">
            <div class="grid-2of3">
              <a href="#" class="colorIcon"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            <div class="grid-1of3">
              <img
                src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/065/501/products/181-8bfefbc80c6639bc3e16723321716371-320-0.webp">
            </div>

          </div>
          <div class="desc_precio">
            <div class="font-serif">Nutro Adult</div>
            <div class="grid-1of6 ">
              $12.99</div>
          </div>
          <div class="cantidad">
            <input type='button' value='-' class='qtyminus minus visible' field='quantity' />
            <input type='text' name='quantity' value='0' class='qty visible' />
            <input type='button' value='+' class='qtyplus plus visible' field='quantity' />


        </li>

      </ul>
      <div class="flex justify-end py-2">
        <!--<div class="grid-1of3"></div>-->
        <div class="grid-1of6">
          <div class="mt-3 text-right font-bold">Subtotal</div>
          <div class="mt-3 text-right font-bold">Total</div>
        </div>
        <div class="grid-1of6"></div>
        <div class="grid-1of6">
          <div class="mt-3 text-center">$71.97</div>
          <div class="mt-3 text-center">$90.57</div>
        </div>
      </div>
      <div class="flex justify-end pt-6">
        <!--
                <button class="px-4 py-2 bg-green text-white rounded text-3xl">-->
      </div>

    </div>
    <div class="content-boton">
    <button class="bot-comprar">
      Comprar
    </button>
  </div>
  </main>
  <footer>
    <h3>BLAMSH</h3>
    <ul class="footer__ayuda">
      <li><a href="">Nosotros</a></li>
      <li><a href="">Ayuda</a></li>
      <li><a href="">Devoluciones</a></li>
      <li><a href="">Seguimiento</a></li>
      <li><a href="">Contacto</a></li>
    </ul>

    <div class="footer__redes">
      <ul>
        <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-facebook fa-xl"
              style="color: #3e3f41;"></i></a></li>
        <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-instagram  fa-xl"
              style="color: #3e3f41;"></i></a></li>
        <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-twitter fa-xl"
              style="color: #3e3f41;"></i></a></li>
        <li class="redes__li"><a class="redesli__a" href=""><i class="fa-brands fa-youtube fa-xl"
              style="color: #3e3f41;"></i></a></li>
      </ul>
    </div>

    <div class='footer__avisos-condiciones'>
      <ul class="avisos-condiciones__opciones">
        <li><a href=""> 2023 Blamsh |</a></li>
        <li><a href="">Aviso legal |</a></li>
        <li><a href="">Coockies |</a></li>
        <li><a href="">Terminos y condiciones |</a></li>
        <li><a href="">Mapa web</a></li>
      </ul>
    </div>

  </footer>
  <script src="/js/catalog.js"></script>
</body>

</html>