<div class="carrusel-otro">
    <div class="elemento">
        <img src="images/jersey1.jpg" alt="jersey1">
    </div>
    <div class="elemento">
        <img src="images/jersey2.jpg" alt="jersey2">
    </div>
    <div class="elemento">
        <img src="images/pantalon.jpg" alt="pantalon">
    </div>
    <div class="elemento">
        <img src="images/moto2.jpg" alt="moto">
    </div>
</div>


/* .carrusel-otro {
display: flex;
flex-wrap: nowrap;
overflow: scroll;
scroll-snap-type: x mandatory;
}

.elemento {
flex: 1 0 auto;
margin: 0 10px;
width: 300px;
height: 300px;
} */