<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Editar producto 123</h1>
    <form action="/products" method="post">
        <input type="text" value="Remera" name="tittle" placeholder="Titulo">
        <input type="number" value="555" name="price" placeholder="999">
        <input type="submit" value="Registrar producto">
    </form>
</body>

</html>