<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLAMSH</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://kit.fontawesome.com/465082cc2e.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <%-include ('./partials/navbar')%>
  </header>

  <main>
    <div class="container">
      <form action="/login" method="post" class="login-form">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required> <br>
        <p class="error" ><%= error %></p>

        <label for="checkbox">Mantener sesión iniciada:</label>
        <input type="checkbox" name="remember">

        <u><a href="#"> ¿Has olvidado Tu contraseña?</a></u><br>


        <button class="enviar" type="submit">Enviar</button>
        <br>


      </form>
      <br>

      <p>¿No tenés cuenta de BLAMSH? <a href="/register"><u>Únete a BLAMSH</a></p></u><br>

      <section class="main__section-photo">
        <img class="img-log" src="images/img-register/register__main-background.jpg" alt="none">

      </section>

    </div>




  </main>
  <footer>
    <%-include ('./partials/footer')%>
  </footer>

</body>

</html>