
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLAMSH Login </title>
</head>
<body>
    <title>formulario de ingreso</title>
</head>
<body>
  <form action="resultado.html" method="POST">
    <p>
      <label>Nombre:</label>
      <input type="text" name="nombre" required>
    </p>

    <p>
      <label>E-mail:</label>
      <input type="email" name="email" required>
    </p>

    <p>
      <label>Contraseña:</label>
      <input type="password" name="password" required>
    </p>

    <p>
       <input type="submit" value="enviar">
    
    </p>
  </form>
</body>
</html>