@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CARRUSEL */


.contenedor-carrusel {
    height: 360px;
    overflow: hidden;
}


.carrusel {
    height: 100%;
    position: relative;
    transition-duration: 900ms;
}


.item {

    background-color: bisque;
    height: 100%;

}

.flechas {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

a {
    text-decoration: none;

}


i {
    color: rgb(96, 92, 92);
}


.puntos {
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    margin-right: 35%;
}

.puntos a {
    font-size: 1.5em;
    font-style: none;
    color: rgb(96, 92, 92);
    border-radius: 10%;
}

img {
    width: 100%;
    height: 100%;
}



/* DETALLE DEL PRODUCTO */

.contenedor-detalle {
    font-weight: bold;
    width: 100vw;
    flex-wrap: wrap;
    height: auto;
}


.titulo-precio {
    display: flex;
    justify-content: space-between;

}


.titulo {
    font-weight: bold;
    font-size: 1.5em;
}


.precio {
    font-weight: bold;
    color: red;
    font-size: 1.5em;
}


.descripcion-producto p,
.mas-detalles p {
    display: none;
}

.descripcion-producto h6 {
    font-size: 12px;
}


.talla-medidas {
    display: flex;
    justify-content: space-between;

}

.tallas ul {
    padding: 0;
    justify-content: space-around;
    display: flex;

}

.talla-medidas a {
    color: white;
    text-decoration: underline;
}


.tallas li {
    display: inline;
}


.tallas ul a {
    color: white;
    border: 1px solid rgb(91, 88, 88);
    padding: 6px 20px;

}

.tallas a:hover {
    background-color: rgb(91, 88, 88);
}


.input-group label {
    display: flex;
}


.input-group,
.input-group input {

    background-color: #7cb63d;
    color: white;
    padding: 2%;
    text-transform: uppercase;
    border: none;
    justify-content: center;
    display: flex;
    width: auto;
    font-weight: bold;

}



.input-group:hover,
.input-group input:hover {
    background-color: #98bc72;
}




.segundo-contenedor .titulo-precio,
.segundo-contenedor .descripcion-producto,
.segundo-contenedor .talla-medidas,
.input-group,
.mas-detalles {
    margin-left: 4%;
    margin-right: 4%;
}


.imgmin-720 {
    display: none;
}

.detalle-720 {
    display: none;
}

.mas-detalles-720,
.comentarios,
.descripcion-amplia,
.completo,
.opinion {
    display: none;
}



@media (min-width: 720px) {


    .primer-contenedor,
    .segundo-contenedor {
        display: none;
    }


    .imgmin-720 {
        display: flex;
        flex-direction: column;
        width: 25vw;
        display: block;
        padding: 5px;
    }


    .imgmin-720:hover {
        filter: brightness(0.6);
        transition: 1s;
    }


    .img-inferior {
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
    }

    .img-superior {
        display: flex;
        flex-direction: row;
        margin-left: 10vw;

    }

    .detalle-720 {
        display: block;

    }

    .mas-detalles-720 {
        display: block;
    }



    .contenedor-720 {
        display: flex;
        width: 100%;
        height: 100%;
    }


    .contenedor-720-detalle,
    .mas-detalles-720,
    .comentarios {
        width: 100%;
        height: 100%;
        margin-left: 4%;
        margin-right: 4%;
    }


    .contenedor-720-img {
        flex: 1;

    }


    .contenedor-720-detalle .detalle-720 {
        flex: 1;
        position: sticky;
        top: 0;
        background-color: black;
    }

    .comentarios {
        display: flex;

    }


    .estrellas {
        margin-left: 4%;
    }

    .estrellas,
    .fa-star,
    .fa-star-half-stroke {
        color: rgb(204, 199, 199);
        margin-left: 3%;

    }

    .fa-comment-dots {
        font-size: 24px;
        color: rgb(204, 199, 199);
    }

    .descripcion-amplia p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid rgb(204, 199, 199);
        padding-bottom: 15px;
    }

    .completo {
        text-align: justify;
        margin-left: 4%;
        margin-right: 4%;
    }

    .opinion textarea,
    .opinion label {
        display: flex;
        flex-direction: column;
        margin-left: 4%;
        margin-right: 4%;
    }


    .opinion textarea {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 20%;
        outline: none;
        border: 1px solid rgb(204, 199, 199)
    }



    .mas-detalles-720,
    .comentarios,
    .descripcion-amplia,
    .completo,
    .opinion {
        display: block;
    }




}