* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
 
}
.product-edit h2{
    margin-bottom: 5%;
}       

.product-edit{
    width: 40vw;
    background-color: rgb(41, 40, 40);
    padding: 3%;
    margin: auto;
    margin-top: auto;
    border-radius: 10px;
    font-family: 'roboto';
    color: #7014F2 ;
    margin-bottom: 2%;
}

section.product-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    background-color: rgb(41, 40, 40);
    padding: 3%;
    margin: auto;
    margin-top:0%;
    border-radius: 10px;
    font-family: 'roboto';
    color: #7014F2 ;
}

.items{
    width: 100%;
    background-color:rgb(213, 213, 213) ;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 5%;
    border: 1px solid #00f59b;
    font-family: 'roboto';
    font-size: 1rem;

}

.items-desc{
    width: 100%;
    background-color:rgb(213, 213, 213) ;
    padding: 5%;
    height: 15vw;
    border-radius: 5px;
    margin-bottom: 5%;
    border: 1px solid #00f59b;
    font-family: 'roboto';  
    font-size: 1rem;
}

.items-img{
    width: 100%;
    background-color:rgb(213, 213, 213) ;
    padding: 0%;
    height: 26.6vw;
    border-radius: 5px;     
    margin-bottom: 0%;
    border: 1px solid #00f59b;
    font-family: 'roboto';  
    font-size: 1rem;
    overflow:hidden;
}

.product-edit a:hover{
color:#7014F2;
text-decoration: underline;
}

.product-edit #publicar{
    width: 100%;
    border:#00f59b;
    background-color: #7014F2;
    padding: 5%;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5;
}

.product-edit #publicar:hover{
font-weight: bold;
box-shadow: 0 0 10px #7014F2;
}

