
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    margin-bottom: 5%;
}

main{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
 
}
.product-edit{
    width: 95vw;
    background-color: rgb(41, 40, 40);
    padding: 3%;
    margin: auto;
    margin-top: 2%  ;
    border-radius: 10px;
    font-family: 'roboto';
    color: #7014F2 ;
    margin-bottom: 2%;
    position: relative;
}

section.product-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    background-color: rgb(41, 40, 40);
    padding: 3%;
    margin: auto;
    margin-top:2%;
    border-radius: 10px;
    font-family: 'roboto';
    color: #7014F2 ;
}

@media (min-width: 460px){

    main{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
     
    }
    .product-edit{
        width: 80vw;
        background-color: rgb(41, 40, 40);
        padding: 3%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;
        font-family: 'roboto';
        color: #7014F2 ;
        margin-bottom: 2%;
        position: relative;
    }
    
    section.product-image{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80vw;
        background-color: rgb(41, 40, 40);
        padding: 3%;
        margin: auto;
        margin-top:2%;
        border-radius: 10px;
        font-family: 'roboto';
        color: #7014F2 ;
    }
}

@media (min-width: 768px){

    main{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
     
    }
    .product-edit{
        width: 40vw;
        background-color: rgb(41, 40, 40);
        padding: 3%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;
        font-family: 'roboto';
        color: #7014F2 ;
        margin-bottom: 2%;
        position: relative;
    }

    section.product-image{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50vw;
        background-color: rgb(41, 40, 40);
        padding: 3%;
        margin: auto;
        margin-top:2%;
        border-radius: 10px;
        font-family: 'roboto';
        color: #7014F2 ;
    }
}
.items{
    width: 100%;
    background-color:rgb(213, 213, 213) ;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 5%;
    border: 1px solid #00f59b;
    font-family: 'roboto';
    font-size: 1rem;

}

.items-desc{
    width: 100%;
    background-color:rgb(213, 213, 213) ;
    padding: 5%;
    height: 15vw;
    border-radius: 5px;
    margin-bottom: 5%;
    border: 1px solid #00f59b;
    font-family: 'roboto';  
    font-size: 1rem;
}

.items-img{
    width: 100%;
    background-color:rgb(213, 213, 213) ;
    padding: 0%;
    height: 26.6vw;
    border-radius: 5px;     
    margin-bottom: 0%;
    border: 1px solid #00f59b;
    font-family: 'roboto';  
    font-size: 1rem;
    overflow:hidden;
}


.product-edit #publicar{
    width: 100%;
    border:#00f59b;
    background-color: #7014F2;
    padding: 3%;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5;
}

.product-edit #publicar:hover{
font-weight: bold;
box-shadow: 0 0 10px #7014F2;
}

.product-edit #eliminar{
    width: 100%;
    border:#00f59b;
    background-color: #00f59b;
    padding: 1%;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5;
    margin-bottom: 1%;
}

.product-edit #eliminar:hover{
font-weight: bold;
box-shadow: 0 0 10px #00f59b;
}

     
#icon{
    position: absolute;
    display: block;
    margin:5px;
    right: 87%;
}

.product-edit #importar{
    width: 99%;
    border: none;
    background-color:none;
    padding: 1%;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5;
    margin-bottom: 1%;

}


.back {
    margin-bottom: 15px;
    width: 50px;
    border:#00f59b;
    background-color: #7014F2;
    padding: 5px;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5;
}

.back:hover{
    font-weight: bold;
    box-shadow: 0 0 10px #7014F2;
    
}