body {
    margin: 0;
    padding: 0;
}

.enviar {
    display: flex;
    justify-items: end;
}

p {
    display: block;
    text-align: center;
}

.login-form p {
    text-emphasis: center;

}

.errors {
    color: red
}

.tipocheckbox {
    display: flex;
    justify-content: center;
    width: 100%;




}


.login-form {
    width: 80%;
    margin: auto;
    padding: 0;
    border-radius: 5px;
}



.img-log {
    width: 100%;
    height: 600px;
    object-fit: cover; /* Se ajusta la imagen al ancho del contenedor manteniendo el aspecto original*/
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aquamarine;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

.enviar {
    display: flex;
    margin-left: 50%;


}

button:hover {
    background-color: #45a049;
}

@media (min-width: 600px) {
    .login-form {
        max-width: 100%;
    }

    input {
        font-size: 100%;
    }

    button {
        font-size: 100%;
        float: right;

    }
}

@media (min-width: 720px) {
    .enviar {
        display: flex;
        margin-left: 60%;
    
    
    }
}

@media (min-width: 1024px) {
    .enviar {
        display: flex;
        margin-left: 63%;
    
    
    }
}