@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {

    background-color: rgb(47, 48, 49);
    background-image: url("/images/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


div h2 {
    color: white
}

div h3 {
    color: white
}

img {
    width: 300px;
    border-radius: 10px;
}

.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 11px;
    padding: 30px;
    margin-top: 5%;
    background-color: rgb(134, 131, 131, 0.8);
    max-width: 400px;

}

.container-profile li {
    margin-bottom: 15px;

}

.buttonEdit button {
    background-color: #504e50;
    border-radius: 11px;
    padding: 10px 10px;
    color: rgb(247, 244, 244);
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

.buttonEdit button:hover {
    background-color: #511ca0;
    color: white;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.ver-admin button {
    background: #0b5394;
    background: linear-gradient(#0b5394, #073763);
    border-radius: 11px;
    width: 180px;
    height: 50px;
    color: #ffffff;
    display: inline-block;
    font: 18px/50px "Calibri", sans-serif;
    text-align: center;
    text-shadow: 1px 1px #0b5394;
}


@media (min-width: 720px) {

    .container-profile {
        margin-left: 40%;
        margin-bottom: 1000px;

    }



}